{port_env, [
    {"darwin", "CC", "clang"},
    {"darwin", "CFLAGS", "$CFLAGS -m64 -Dbool=_Bool -Dtrue=1 -Dfalse=0"},
    {"darwin", "HAPI_INCLUDE", "/Library/Frameworks/Houdini.framework/Resources/toolkit/include/HAPI"},
    {"darwin", "HAPI_CC", "clang"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -I deps/xxhash"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -I $HAPI_INCLUDE"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -Wl,-rpath /Library/Frameworks/Houdini.framework/Libraries"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -L /Library/Frameworks/Houdini.framework/Libraries -lHAPI"},
    {"win32", "CC", "cl.exe"},
    {"win32", "LINKER", "link.exe"},
    {"win32", "HAPI_CC", "cpp.exe"},
    {"win32", "HAPI_INCLUDE", "C:\Program Files\Side Effects Software\Houdini 14.5.81\toolkit\include\HAPI"}
]}.

{pre_hooks, [
    {"darwin", compile, "clang ./util/xxhash.c ./deps/xxhash/xxhash.c -o ./util/xxhash"},
    {compile, "elixir ./util/hapi.ex $HAPI_CC $HAPI_INCLUDE"}
]}.

%{erl_first_files, ["src/hapi_result.erl"]}.

{deps, [
    {xxhash, ".*", {git, "https://github.com/Cyan4973/xxHash.git"}, [raw]}
]}.

{clean_files, [
    "ebin",
    "priv",
    "./c_src/enums/*.c",
    "./util/xxhash",
    "./util/xxhash.exe"

%    "./src/*.beam",
%    "./c_src/hapi_enums_nif.h",
%    "./c_src/*.o",
%    "./c_src/*.d",
%    "./src/hapi.erl",
%    "./src/hapi_record_*.hrl",
%    "./src/hapi_records.hrl",
%    "./src/hapi_enum_*.erl",
%    "./src/hapi_enums.hrl",
%    "./c_src/hapi_enum_*.c",
%    "./c_src/hapi_functions_nif.h",
%    "./c_src/hapi_functions_nif.c",
%    "./c_src/hapi_functions_nif_stubs.c.generated",
%    "./util/hapi.c.generated",
]}.

{port_specs, [
    {"priv/hapi_nif.so", ["c_src/*.c", "c_src/enums/*.c", "deps/xxhash/xxhash.c"]}
]}.
