{erl_first_files, ["src/hapi_result.erl"]}.

{port_env, [
    {"darwin", "CC", "clang"},
    {"darwin", "CFLAGS", "$CFLAGS -m64 -Dbool=_Bool -Dtrue=1 -Dfalse=0"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -I deps/xxhash"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -I /Library/Frameworks/Houdini.framework/Resources/toolkit/include/HAPI"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -Wl,-rpath /Library/Frameworks/Houdini.framework/Libraries"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -L /Library/Frameworks/Houdini.framework/Libraries -lHAPI"}
]}.

{deps, [
    {xxhash, ".*", {git, "https://github.com/Cyan4973/xxHash.git"}, [raw]}
]}.

{clean_files, [
    "./src/*.beam",
    "./c_src/hapi_enums_nif.h",
    "./c_src/*.o",
    "./c_src/*.d",
    "./src/hapi.erl",
    "./c_src/hapi_enum*.c",
    "./c_src/hapi_functions_nif.h",
    "./c_src/hapi_functions_nif.c",
    "ebin",
    "priv"
]}.

{port_specs, [
    {"priv/hapi_nif.so", ["c_src/*.c", "deps/xxhash/xxhash.c"]}
]}.
