{port_env, [
    {"darwin", "CC", "clang"},
    {"darwin", "CFLAGS", "$CFLAGS -m64 -Dbool=_Bool -Dtrue=1 -Dfalse=0"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -L/Library/Frameworks/Houdini.framework/Libraries"},
    {"darwin", "DRV_LDFLAGS", "$DRV_LDFLAGS -lHAPI"},
    {"darwin", "DRV_CFLAGS", "$DRV_CFLAGS -I/Library/Frameworks/Houdini.framework/Resources/toolkit/include/HAPI"}
]}.

{port_specs, [
    {"priv/hapi_nif.so", ["c_src/*.c"]}
]}.
