/* Defined in enums/%{HAPI_ENUM_DOWNCASE}%_nif.c */
bool %{HAPI_ENUM_DOWNCASE}%_erl_to_c(ErlNifEnv* env, const ERL_NIF_TERM term, %{HAPI_ENUM}%* enum_result);
ERL_NIF_TERM %{HAPI_ENUM_DOWNCASE}%_c_to_erl(ErlNifEnv* env, %{HAPI_ENUM}% enum_value);
